<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="main-body">
    <header class="main-header">
        <div class="conteiner-header">
            <div class="main-header-top-bar">
                <img src="/images/logo-mercado-liebre.svg" alt="LogoML" class="logoML">
                <form class="adress-bar">
                    <input type="text" name="" id="" placeholder="Buscar productos, marcas..." class="buscador">
                    <button class="boton-lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <p class="compra-cuotas">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p> 
            </div>    
    
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="http://localhost:3030/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="http://localhost:3030/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </header>
    <form action="/register" method="post" class="create-form">
        <div class="control-formulario">
            <!-- <label for="nombre">Nombre y apellido</label> -->
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" class="control">
        </div>
        <div class="control-formulario">
            <label for="fechaNacimiento">Fecha de nacimiento</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="control">
        </div>
        <div class="control-formulario">
            <!-- <label for="domicilio">Domicilio</label> -->
            <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" class="control">
        </div>
        <div>
            <label class="perfil-usuario">Perfil de usuario</label>
            <div class="perfil">
                <input type="radio" name="perfil-usuario" value="Comprar">
                <label for="perfil-usuario" class="label-radio">Comprador</label>
                <input type="radio" name="perfil-usuario" value="Vender">
                <label for="perfil-usuario" c>Vendedor</label>
            </div>
        </div>
        <div>
            <label class="perfil-usuario">Intereses</label>
            <div class="perfil">
                <div class="interes">
                    <input type="checkbox" name="intereses" value="Electro">
                    <label class="label-radio">Electro</label>
                </div>
                <div class="interes">
                    <input type="checkbox" name="intereses" value="Moda">
                    <label class="label-radio">Moda</label>
                </div>
                <div class="interes">
                    <input type="checkbox" name="intereses" value="Hogar">
                    <label class="label-radio">Hogar</label>
                </div>
                <div class="interes">
                    <input type="checkbox" name="intereses" value="Juguetería">
                    <label class="label-radio">Juguetería</label>
                </div>
                <div class="interes">
                    <input type="checkbox" name="intereses" value="Vida Sana">
                    <label class="label-radio">Vida Sana</label>
                </div> 
            </div>
            
        </div>
        <div class="control-formulario">
            <label>Foto de perfil</label>
            <input type="file" name="avatar" accept=".jpg" class="control">
        </div>
        <div class="control-formulario">
            <!-- <label for="password">Contraseña</label> -->
            <input type="password" id="password" name="password" placeholder="Contraseña" class="control">
        </div>
        <div class="control-formulario">
            <!-- <label for="password">Confirmar contraseña</label> -->
            <input type="password" id="password" name="password" placeholder="Confirmar contraeña" class="control">
        </div>
        <button type="submit" class="boton-formulario">Enviar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
    </form>
    <footer>
        <ul>
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <li>Pagá con tarjeta o en efectivo</li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fa-solid fa-gift"></i>
                <li>Envío gratis desde $ 2.500</li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fa-solid fa-user-shield"></i>    
                <li>Seguridad, de principio a fin</li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <li class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
        </ul>
    </footer>
</body>

</html>